<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">Como funciona</h2>
                <p><%=comofunciona.frase%></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i>1</i>
                    </span>
                    <h3><%=comofunciona.passo1%></h3>
                    <p><%=comofunciona.frasepasso1%></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i>2</i>
                    </span>
                    <h3><%=comofunciona.passo2%></h3>
                    <p><%=comofunciona.frasepasso2%></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i>3</i>
                    </span>
                    <h3><%=comofunciona.passo3%></h3>
                    <p><%=comofunciona.frasepasso3%></p>
                </div>
            </div>

        </div>
    </div>
</div>